name: Test Echo from n8n

on:
  workflow_dispatch:
    inputs:
      message:
        description: "Message from n8n"
        required: true
        default: "Hello from n8n"

jobs:
  echo_job:
    runs-on: ubuntu-latest

    outputs:
      final_message: ${{ steps.output-step.outputs.result }}

    steps:
      - name: Print message
        run: |
          echo "Message received: ${{ github.event.inputs.message }}"

      - name: Send output
        id: output-step
        run: echo result="Done:${{ github.event.inputs.message }}" >> $GITHUB_OUTPUT
